// fonts
$font-avenir: 'Avenir', 'Arial', sans-serif;
$font-pier-sans: 'PierSans', 'Arial', sans-serif;

// color
$blue: #0376C4;
$light-blue: #EDF5FB;
$black: #1F1F1F;
$light-black: #333637;
$gray: #858585;