.features{
	margin-bottom: 181px;
	.wrapper{
		position: relative;
		width: 1204px;
		justify-content: space-between;
	}
	p{
		font-family: $font-avenir;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
		text-transform: capitalize;
		width: 400px;
	}
	p:nth-child(2){
		margin-bottom: 88px;
	}

	h2{
		margin-bottom: 22px;
	}

	.main-title{
		margin-bottom: 94px;
	}

	.left{
		width: 550px;
	}

	.right{
		width: 475px;
		box-sizing: border-box;
		padding-top: 25px;
	}

	&__block{
		width: 397px;
		height: 471px;
		background: #EDF5FB;
		border-radius: 10px;
		position: relative;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-self: baseline;
		picture{
			margin-right: 0;
			margin-left: auto;
		}
		img{
			margin-right: 0;
			margin-left: auto;
		}
		h3{
			width: 203px;
			font-family: $font-pier-sans;
			font-style: normal;
			font-weight: 900;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			text-transform: uppercase;
			color: $blue;
	    margin-top: -17px;
		}
		p{
			width: 200px;
			font-family: $font-avenir;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
		}
	}

	&__img-wrapper{
		position: relative;
		margin-top: -26px;
	}

	.btn-eye{
		position: absolute;
	}

	.btn-eye1{
		left: 203px;
    top: 121px;
	}

	.btn-eye2{
		left: 256px;
    top: 271px;
	}

	.btn-eye3{
    right: 41px;
    bottom: 111px;
	}


	// media web features 1280
	@media screen and (max-width: 1600px){
		.wrapper{
			width: 1280px;
			justify-content: space-around;
		}
	}

	// media web features 1024
	@media screen and (max-width: 1279px) {
		.wrapper{
			width: 1024px;
			justify-content: space-between;
		}
		.main-title{
			h2{
				width: 100%;
			}
			span{
				width: 100%;
			}
		}
		.left{
			width: 550px;
		}
		.right{
			width: 400px;
		}
	}



	// media tablet features 920
	@media screen and (max-width: 1023px){
		.wrapper{
			width: 920px;
		}
		.left{
			width: 400px;
		}
		&__img-wrapper{
			margin-top: 0;
		}
		img{
			width: 100%;
		}
		.btn-eye1{
			left: 161px;
	    top: 83px;
		}
		.btn-eye2{
			left: 346px;
	    top: 333px;
		}
		.btn-eye3{
			right: 180px;
			bottom: 218px;
		}
	}

	// media tablet features 800
	@media screen and (max-width: 919px) {
		.wrapper{
			width: 800px;
		}
		.left{
			width: 350px;
		}
		.right{
			width: 350px;
		}
		.btn-eye1{
			left: 142px;
			top: 64px;
		}
		.btn-eye2{
			left: 309px;
			top: 276px;
		}
		.btn-eye3{
			right: 155px;
			bottom: 184px;
		}
		p{
			width: 100%;
		}
		&__block{
			width: 100%;
		}
	}

	// media tablet features 768
	@media screen and (max-width: 799px) {
		.wrapper{
			width: 768px;
			flex-wrap: wrap;
		}
		.right{
	    display: flex;
	  	flex-wrap: wrap;
	  	justify-content: center;
		}
		h2{
			text-align: center;
		}
		span{
			text-align: center;
			width: 100%;
		}
	}



	// media mobile features 520
	@media screen and (max-width: 767px){
		.wrapper{
			width: 520px;
			justify-content: center;
		}
		.left{
			width: 100%;
		}
		.right{
			width: 100%;
		}
		&__block{
    	width: 397px;
		}
		.btn-eye1{
			left: 207px;
			top: 110px;
		}
		.btn-eye2{
			left: 223px;
			top: 236px;
		}
		.btn-eye3{
			right: 27px;
	    bottom: 87px;
		}
	}

	// media mobile features 480
	@media screen and (max-width: 519px){
		.wrapper{
			width: 480px;
		}
		.btn-eye1{
			left: 177px;
			top: 97px;
		}
		.btn-eye2{
			left: 187px;
			top: 236px;
		}
		.btn-eye3{
			right: 27px;
	    bottom: 87px;
		}
	}

	// media mobile features 360
	@media screen and (max-width: 479px){
		.wrapper{
			width: 360px;
		}

		&{
			margin-bottom: 50px;
		}
		.left{
			width: 100%;
			margin-bottom: 20px;
		}
		.main-title{
			margin-bottom: 40px;
		}
		&__img-wrapper{
			position: static;
			width: 100%;
			img{
				width: 100%;
				height: 100%;
			}
		}

		.right{
			width: 100%;
		}

		.btn-eye1{
			left: 137px;
			top: 236px;
		}
		.btn-eye2{
			left: 166px;
			top: 300px;
		}
		.btn-eye3{
			right: 28px;
			top: 416px;
		}
	}


}