.kontaktiere-uns{
	background-image: url('../img/kontaktiere-uns-bg.jpg');
    background-position-y: -1006px;
    background-position-x: center;
    height: 928px;
	// background-size: cover;
	.wrapper{
		width: 1200px;
		justify-content: space-between;
	}
	.main-title{
		margin-top: 120px;
		h2{
			text-transform: capitalize;
			margin-bottom: 30px;
		}
		span{
			width: 605px;
		}
	}

	.main-form{
		background-color: $light-blue;
	}

		// media web kontaktiere-uns 1280
	@media screen and (max-width: 1600px){
		.wrapper{
			width: 1280px;
			justify-content: space-around;
		}
	}

	// media web kontaktiere-uns 1024
	@media screen and (max-width: 1279px) {
		.wrapper{
			width: 1024px;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.main-title{
			width: 400px;
			span{
				width: 100%;
			}
		}
		.right{
			margin-bottom: 100px;
		}
		&{
			// height: auto;
		}

	}



	// media tablet kontaktiere-uns 920
	@media screen and (max-width: 1023px){
		.wrapper{
			width: 900px;
		}
	}

	// media tablet kontaktiere-uns 800
	@media screen and (max-width: 919px) {
		.wrapper{
			width: 800px;
			justify-content: center;
		}
		.main-title{
			margin-bottom: 35px;
		}
		&{
			height: auto;
			background-position-y: -964px;
		}
	}

	// media tablet kontaktiere-uns 768
	@media screen and (max-width: 799px) {
		.wrapper{
			width: 768px;
			flex-wrap: wrap;
		}
		.main-title{
			margin-top: 0;
		}
	}



	// media mobile kontaktiere-uns 520
	@media screen and (max-width: 767px){
		.wrapper{
			width: 520px;
			justify-content: center;
		}
		.main-title{
			span{
				width: 100%;
			}
		}
	}

	// media mobile kontaktiere-uns 480
	@media screen and (max-width: 519px){
		.wrapper{
			width: 480px;
		}
	}

	// media mobile kontaktiere-uns 360
	@media screen and (max-width: 479px){
		.wrapper{
			width: 360px;
		}
		.main-title{
			span{
				width: 100%;
			}
		}
		&{
			height: auto;
			padding-bottom: 50px;
		}
	}

}